header{
    width: 98vw;
    height: auto;

    .navbar navbar-expand-lg bg-body-tertiary{
        display: flex;
        position: fixed;
    }
    .logo{
        display: flex;
        position: absolute;
        width: 250px;
        padding: 0;
        margin-left: 10px;
        margin-top: 50px;
    }
    .titulo{
        display: flex;
        text-decoration: underline;
        font-size: 40px;
        color: blue;
        justify-content: center;
        padding-top: 30px;
        margin-top: 30px;
    }
    .logo-whatsapp{
        display: flex;
        justify-content: flex-end;
    }
    .whatsapp{
        width: 80px;
        height: 80px;
        position: fixed;
        margin-left: auto;
        margin-right: 10px;
    }
    .whatsapp:hover{
        animation: vibrar 2s infinite;
    }
    @keyframes vibrar {
        0%{
            transform: translateX(0);
        }
        25%{
            transform: translateX(10px);
        }
        50%{
            transform: translateX(0);
        }
        75%{
            transform: translateX(10px);
        }
        100%{
            transform: translateX(0);
        }
    }
    @include mobile{
        .header{
            display: flex;
        }
        .logo{
            display: flex;
            width: 120px;
            height: 120px;
            margin-left: 2px;
            margin-top: 80px;
        }
        .titulo{
            font-size: 18px;
        }
        .whatsapp{
            width: 50px;
            height: 50px;
            margin-top: 70px;
            right: 25px;
        }
        .subtit1{
            display: none;
        }
    }
}
