








.a{
    grid-area: a;
    width: 300px;
    height: 300px;
    border: blue solid;
}
.b{
    grid-area: b;
    width: 300px;
    height: 300px;
    border: blue solid;
}
.c{
    grid-area: c;
    width: 300px;
    height: 300px;
    border: blue solid;
}
.d{
    grid-area: d;
    width: 300px;
    height: 300px;
    border: blue solid;
}
.e{
    grid-area: e;
    width: 450px;
    height: 300px;
    border: blue solid;
}
.f{
    grid-area: f;
    width: 300px;
    height: 300px;
    border: blue solid;
}
.g{
    grid-area: g;
    width: 300px;
    height: 300px;
    border: blue solid;
}
.h{
    grid-area: h;
    width: 300px;
    height: 200px;
    border: blue solid;
}
.imagenes{
    display: grid;
    grid-template-areas: 
    "a b f"
    "c h d"
    "g e e";
    justify-items: center;
    align-items: center;
    gap: 15px;
    padding-top: 30px;
    margin: 0 40px;
}
#servicios{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 30px;
    text-decoration: dotted;
}
.lista_servicios{
    display: flex;
    flex-direction: column;
    font-style: italic;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.empresas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ilo{
    width: 300px;
    height: 300px;
    border: blue solid 1px;
}
.sab{
    width: 300px;
    height: 200px;
    border: blue solid 1px;
}
.cort{
    width: 300px;
    height: 300px;
    border: blue solid 1px;
}
.mochi{
    width: 300px;
    height: 300px;
    border: blue solid 1px;
}
.litro1{
    width: 300px;
    height: 300px;
    border: blue solid 1px;
}
.litro2{
    width: 300px;
    height: 300px;
    border: blue solid 1px;
}
li{
    list-style: none;
}

.compra label{
    width: 300px;
    height: auto;
    background-color: rgb(158, 158, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px black solid;
    padding: 2px;
}


.ubicacion{
    display: flex;
    margin-top: 100px;
    font-size: 45px;
    font-weight: bold;
    justify-content: center;
    align-items: start;
    text-decoration: underline;
}
.mapa{
    position: absolute;
    margin-top: 180px;
    justify-content: center;
    align-items: center;
    padding: 0 27vw;
}
.mapa1{
    width: 50vw;
    height: 70vh;
}
.main iframe{
    display: flex;
    width: 50vw;
    height: 50vh;
    margin-top: 50px;
}


.redes{
    height: 50px;
    width: 50px;
}

@media (max-width: 425px) {


    .imagenes{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
   
    .lista_servicios{
        justify-content: center;
        align-items: center;
    }
    .precios{
    width: 40vw;
    display: flex;
    border: 2.5px black solid;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    justify-content: space-evenly;
    background-color: rgb(39, 135, 245);
    align-items: center;
    margin-left: 320px;
    }

    
    .empresas{
        display: flex;
        flex-direction: column;
    }
    
    
    
    
    .ubicacion{
        display: flex;
        font-size: 30px;
        margin-top: 140px;
    }
    .mapa1{
        width: auto;
        margin-top: 50px;
    }
    .mapa{
        display: flex;
        position: relative;
        margin-top: 20px;
    }
    .a, .b, .c, .d, .e, .f, .g, .h{
        width: 40vw;
        height: 30vh;
    }
    
   

}


